* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

html,
body,
main {
   height: 100%;
   max-width: 100%;
}

main {
   background: url("./large.svg") no-repeat;
   background-size: cover;
   position: relative;
}

.timer {
   position: absolute;
   display: flex;
   align-items: center;
   justify-content: space-evenly;
   bottom: 12%;
   left: 1%;
}

.stopwatch {
   background: url("./stopwatch.svg") no-repeat;
   width: 100px;
   height: 100px;
}

.count {
   width: 98px;
   height: 90px;
   font-size: 28px;
   font-weight: 600;
   font-family: sans-serif;
   display: flex;
   justify-content: center;
   align-items: center;
   background: url("./timer-blob.svg") no-repeat;
   color: #3FA690;
   margin: 12px;
   position: relative;
}

.days:after,
.hours:after,
.minutes:after {
   content: ":";
   position: absolute;
   right: -15px;
   color: #000;
   font-size: 40px;
   font-weight: 600;
}

/* medium size devices */
@media screen and (max-width: 1100px) {
   main {
      background: url("./medium.svg") no-repeat;
   }
}

@media screen and (max-width: 450px) {

   main {
      background: url("./small.svg") no-repeat;
      background-size: cover;
   }

   .timer {
      top: 35%;
      height: 70px;
      left: 0;
      right: 0;
   }

   .stopwatch {
      width: 60px;
      height: 60px;
   }

   .count {
      width: 68px;
      height: 60px;
      margin: 5px;
      font-size: 20px;
   }

   .days:after,
   .hours:after,
   .minutes:after {
      right: -8px;
      font-size: 30px;
      font-weight: 600;
   }
}